:root {
    --violet: rgb(53, 28, 117);
    --pink: rgb(189, 96, 231);
    --white: white;
    --black: black;
    --gray: darkgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray);
}


/**** UNIVERSAL ****/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

.startBtn {
    display: flex;
    margin: 20px;
    border: 2px solid black;
    background-color: var(--violet);
    color: var(--white);
    padding: 2rem 3rem;
    text-align: center;
}

.radius-right {
    border-radius: 0 25px;
}

.radius-left {
    border-radius: 25px 0;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.count-down {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: underline;
}

.question {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--black);
    border: 1px solid var(--black);
    border-width: 2px 0;
    padding: 5px 0;
}

#choices {
    margin: 1.5rem 0 0 0;
}

.result {
    font-size: 1.8rem;
    font-weight: bolder;
    padding: 10px 10px;
    margin: 20px 0;
    border: 2px solid black;
    background-color: white;
}

.btn {
    text-align: left;
    background-color: var(--violet);
    color: var(--white);
    width: 100%;
    font-size: 1.8rem;
    border: 2px solid var(--black);
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
}

.end-quiz {
    display: flex;
    border: 0 solid black;

    padding: 15px;
    min-width: 500px;
    min-height: 250px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    background-color: var(--violet);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.8);
}

.end-quiz h1 {
    margin: 15px;
    font-size: 2rem;
    color: var(--black);
}

.end-quiz h3 {
    margin: 15px;
    font-size: 3.2rem;
    color: var(--white);
    text-decoration: underline;
}

.end-quiz h2 {
    color: var(--black);
}

.end-quiz input {
    padding: 5px;
    margin-top: 10px;
}

.end-quiz button {
    padding: 5px;
}

.hide {
    display: none;
}