

:root {
    --violet: rgb(53, 28, 117);
    --pink: rgb(189, 96, 231);
    --white: white;
    --black: black;
    --gray: darkgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: var(--gray);
}


/**** UNIVERSAL ****/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vh;
    background-color: var(--pink);
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.8); 
    border: 1px solid black;
}

#highscore {
    display: flex;
    margin: 20px;
    border: 2px solid black;
    border-radius: 0px 25px;
    background-color: var(--violet);
    color: var(--white);
    padding: 2rem 3rem;
    text-align: center;
}

#start {
    display: flex;
    margin: 20px;
    border: 2px solid black;
    border-radius: 25px 0px;
    background-color: var(--violet);
    color: var(--white);
    padding: 2rem 3rem;
    text-align: center;
}

#quiz {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: white;
    padding: 2rem 3rem;
    border: 3px solid black;
    border-radius: 25px 0px;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.header #count-down {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: underline;
}

.question {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black);
    border: 1px solid var(--black);
    border-width: 2px 0;
    padding: 5px 0;
}

#choices {
    margin: 1.5rem 0 0 0;
}

.btn {
    text-align: left;
    background-color:var(--violet);
    color: var(--white);
    width: 100%;
    font-size: 1.8rem;
    border: 2px solid var(--black);
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--pink);
    color: var(--black);
}